.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# excalidraw
excalidraw/.github/**
excalidraw/node_modules/**
excalidraw/public/**
excalidraw/scripts/**
excalidraw/src/**
excalidraw/.dockerignore
excalidraw/.editorconfig
excalidraw/.eslintignore
excalidraw/.gitignore
excalidraw/.lintstagedrc
excalidraw/.npmrc
excalidraw/.nvmrc
excalidraw/.prettierrc
excalidraw/.watchmanconfig
excalidraw/CONTRIBUTING.md
excalidraw/crowdin.yml
excalidraw/docker-compose.yml
excalidraw/Dockerfile
excalidraw/LICENSE
excalidraw/now.json
excalidraw/package-lock.json
excalidraw/package.json
excalidraw/README.md
excalidraw/tsconfig.json
excalidraw/yarn.lock
